<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823310925634-ev4js8srkk3jch35ebv7jg17co7nod54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823310925634-ev4js8srkk3jch35ebv7jg17co7nod54</string>
	<key>API_KEY</key>
	<string>AIzaSyBk_G0yNgWM0CqsWk-Vgp8fr14X_0YshJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>823310925634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iharFlutter</string>
	<key>PROJECT_ID</key>
	<string>ihar-7ab4b</string>
	<key>STORAGE_BUCKET</key>
	<string>ihar-7ab4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823310925634:ios:f7f11521996c54bc5092db</string>
</dict>
</plist>